#section-banner {
  background-color: #1c4b7f;
  padding-top: 60px;
  padding-bottom: 60px; }

#section-slogon {
  background-color: #0c3766;
  padding-top: 160px;
  padding-bottom: 160px; }

#section-milestone {
  background-color: #1c4b7f;
  padding-top: 160px;
  padding-bottom: 160px; }

#section-team {
  background-color: #0c3766;
  padding-top: 160px;
  padding-bottom: 160px; }

#section-cooperates {
  background-color: #1c4b7f;
  padding-top: 160px;
  padding-bottom: 160px; }
  #section-cooperates .logo-animate-container {
    padding: 16px 32px; }
    @media all and (min-width: 576px) {
      #section-cooperates .logo-animate-container {
        padding: 32px 48px; } }
    @media all and (min-width: 768px) {
      #section-cooperates .logo-animate-container {
        padding: 48px 48px; } }
    @media all and (min-width: 992px) {
      #section-cooperates .logo-animate-container {
        padding: 48px 64px; } }
    #section-cooperates .logo-animate-container .logo-animate {
      width: 100%;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }

@keyframes toColor {
  0% {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  100% {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0); } }
      #section-cooperates .logo-animate-container .logo-animate:hover {
        -webkit-filter: brightness(1) invert(0);
        filter: brightness(1) invert(0); }

#section-contact {
  background-color: #0c3766;
  padding-top: 160px;
  padding-bottom: 160px; }
  #section-contact .form-wrapper {
    background-color: white;
    padding: 32px 28px; }
