body {
  font-family: "Microsoft JhengHei"; }

header {
  background-color: #1c4b7f; }

header .nav-link {
  color: white !important;
  margin-left: 16px;
  margin-right: 16px; }
  header .nav-link.active {
    color: #29b3eb !important; }
  header .nav-link:hover {
    color: #9dddf6 !important; }

header .lang-selector {
  background-color: white;
  border-radius: 50%;
  border: none;
  height: 42px;
  width: 42px;
  color: #1c4b7f;
  word-break: keep-all; }
  header .lang-selector:hover {
    background-color: #29b3eb !important; }
  header .lang-selector:focus {
    outline: none; }

footer {
  border-top: 1px solid #1c4b7f;
  background-color: white;
  padding-top: 32px;
  padding-bottom: 4px; }
  footer .footer-link {
    color: #1c4b7f;
    font-weight: 500; }
  footer .social-links {
    font-size: 32px;
    padding-left: 8px;
    padding-right: 8px;
    color: #1c4b7f; }
    footer .social-links:hover {
      text-decoration: none;
      color: blue; }
  footer .subscribe-input {
    margin-top: 8px;
    width: 100%;
    border: none;
    border-radius: 0px;
    background-color: #1c4b7f !important;
    color: white !important; }
    footer .subscribe-input::placeholder {
      color: white !important; }
  footer .copy-right {
    font-size: 70%;
    margin-top: 32px;
    text-align: center;
    color: #1c4b7f; }

.text-theme {
  color: #1c4b7f; }

.section-title {
  color: white;
  font-weight: 600;
  font-size: 28px; }
  .section-title:before {
    content: "";
    margin-right: 16px;
    border-left: 4px solid white; }

@media (min-width: 992px) {
  .thin-container {
    max-width: 720px !important; } }

@media (min-width: 1200px) {
  .thin-container {
    max-width: 960px !important; } }
