@import "./vars.scss";

#section-cover {
    background-color: $theme-color;
    padding-top: 60px;
    padding-bottom: 60px;

    .cover-wrapper {
        width: 90%;
        @include md() {
            width: 80%;
        }
        @include lg() {
            width: 55%;
        }
        margin-left: auto;
        margin-right: auto;

        #temp-cover {
            // temp test
            width: 100%;
        }
    }
}

#section-main {
    background-color: $theme-color;
    padding-top: 60px;
    padding-bottom: 60px;

    .solution-card {
        background-color: white;
        color: $theme-color;

        border-radius: 25px;
        margin-left: -5px;
        margin-right: -5px;
        padding: 25px 20px;
        @include md() {
            border-radius: 40px;
            margin-left: -20px;
            margin-right: -20px;
            padding: 50px 60px;
        }
        @include xl() {
            border-radius: 40px;
            margin-left: -30px;
            margin-right: -30px;
            padding: 60px 120px;
        }

        &:not(:last-child) {
            margin-bottom: 120px;
        }
    }

    .solution-cover {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .solution-title {
        font-weight: 600;
    }
    .solution-text {
        font-weight: 500;
        white-space: pre-line;
    }
}
